@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vind&hearts;</h1>
    <p>Sistema Web construido com ASP.NET Core.</p>
    <p>Projeto prático: "Criando uma aplicação de tranfência bancária com .NET"</p>
</div>
