@using Banco.MVC.Controllers;
@{
    Layout ="_Layout";
    ViewData["Title"] = "Deposito";
    string nomeCliente = "";
    double valorDepositar=0;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

<h4>Deposito</h4>
<hr />

<div class="row">
    <div class="col-md-2">
        <form asp-action="Deposito">
            <label for="nome">Nome:</label>
            <input class="form-control" asp-for="@nomeCliente"/>
            <label for="Valor">Valor a depositar:</label>
            <input class="form-control" asp-for="@valorDepositar">
            <input type="submit" value="Deposito" class="btn btn-primary" />
        </form>
    </div>
</div>

</body>
</html>