@{
    Layout ="_Layout";
    ViewData["Title"] = "Operação";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<br>
<br>
<br>
<h4>Operação</h4>
<div class="row">
    <div class="col-md-1">
        <ul>
            <li><a asp-action="Saque">Saque</a></li>
            <li><a asp-action="Deposito">Deposito</a></li>
            <li><a asp-action="Tranferencia">Transferencia</a></li>
        </ul>
    </div>
</div>

</body>
</html>